@model IEnumerable<BusinessLogic.EntityClass.SurveyEntity>

<p>
    @Html.ActionLink("Create New survey", "CreateSurvey", "Survey", new { @class = "btn btn-primary" })
</p>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Topic List</h3>
    </div>
    <div class="box-body table-responsive">

        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SurveyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SurveyDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompletionText)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsNeverExpire)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ExpiryDate)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.AnswerType)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SurveyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SurveyDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompletionText)
                        </td>
                        <td>
                            @if (item.IsNeverExpire==true) {
                                <div>Yes</div>
                            }
                            else
                            {
                                <div>No</div>
                            }
                            @*@Html.DisplayFor(modelItem => item.IsNeverExpire)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpiryDate)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.AnswerType)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditSurvey", new { id=item.SurveyId }) |

                            @Html.ActionLink("Delete", "DeleteSurvey", new { id=item.SurveyId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    $(function () {

        $('#example2').dataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    });
</script>
